h1{
    color: rgb(100,200,150);
  }
  img{
    width: 400px
  }
  #thirDiv{
    height: 600px;
    width: 500px;
    background: rgb(100,200,150);
    padding: 50px;
    border: 50px red dashed;
  }
  #spanId{
    font-size: 18px;
    margin: 50px;
  }